.searchViewProducts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  font-size: 1.2rem;
}

.searchContainer {
  display: flex;
  background: white;
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
}

.searchBar {
  font-size: 1.5rem;
  width: 100%;
  color: #151515;
  border: none;
  max-width: 50rem;
  border-radius: 5px;
}
