.cardContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 30rem;
  margin: auto;
  border-radius: 1rem;
  text-decoration: none;
}

.cardContainer:hover {
  cursor: pointer;
  transition: ease-in-out 300ms;
  box-shadow: rgb(0 0 0 / 15%) 5px 5px 5px;
}

.imagen {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  height: 100%;
  max-width: 30rem;
  max-height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  background: white;
}

.detail {
  border-top: 1px solid #e2e2e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5rem;
  color: gray;
  text-align: center;
  text-transform: capitalize;
}

.count {
  display: flex;
  align-items: center;
  width: 15rem;
  margin: auto;
  justify-content: space-evenly;
  font-size: 1.5rem;
  color: gray;
}

.button {
  margin: 0.5rem 0rem;
  width: 15rem;
  border: none;
  border-radius: 10px;
  padding: 0.8rem 0.5rem;
  background: #3f4e4f;
  color: white;
  margin-bottom: 1rem;
}