.detailContainer {
    display: flex;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: white;
    width: 120rem;
    height: 70rem;
    margin: auto;
    margin-top: 5rem;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
    align-items: center;
  }

.title {
    font-size: 3rem;
    margin-bottom: 2rem;
}