.reviewsPage {
  width: 80%;
}
.reviewsContainer {
  margin: 2rem 2rem;
  border-top: dotted 1px gray;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.newReviewContainer {
  margin: 2rem 2rem;

}

.boxReviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 2rem;
  padding: 2rem 2rem;
  max-width: 100rem;
  margin: auto;
}

.cardReview {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 30rem;
  margin: auto;
  border-radius: 1rem;
  text-decoration: none;
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
}


.postButton{
    margin: 1rem 0.5rem;
    margin-bottom: 1rem;
    width: 20rem;
    border: none;
    border-radius: 10px;
    padding: 0.8rem 0.5rem;
    background-color: #3f4e4f !important;
    color: white;
    margin-bottom: 1rem;
}

.input {
  margin: 1rem 0.5rem;
  margin-bottom: 1rem;
  width: 60rem;
  border-radius: 10px;
  padding: 0.8rem 0.5rem;
}

.starts {
  display: flex;
}

/* ---------- */
