.navbarContainer {
  background-color: #3f4e4f;
}

.navbarBox {
  display: flex;
  width: 120rem;
  height: 6rem;
  margin: auto;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.logoContainer {
  width: 30rem;
  text-decoration: none;
  color: white;
}

.searchBarContainer {
  width: 40rem;
}

.userContainer {
  width: 30rem;
  display: flex;
  justify-content: space-around;
}

.cartContainer {
  display: flex;
}

.cartQuantity {
  display: flex;
  position: relative;
  right: 12px;
  background-color: #e9725a;
  border-radius: 50%;
  color: #fff;
  width: 15px;
  height: 15px;
  padding: 5px 5px;
  font-size: 0.9rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
