nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #bbb7ae;
  background-color: #fff;
}

.container {
  display: flex;
  width: 120rem;
  height: 6rem;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.buttonUser {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--primaryColor);
  color: var(--white);
  padding: 1rem 1rem;
  margin-left: 1rem;
}

.logo {
  width: 40rem;
  font-size: 3rem;
  font-weight: 800;
  text-transform: unset;
  color: var(--primaryColor);
  transition: all ease-in-out 300ms;
}

.logoContainer:hover {
  color: var(--primaryColor);
}

.search {
  width: 40rem;
  border-bottom: 1px solid #bbb7ae;
  background-color: #fff;
}

.user {
  width: 40rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cart {
  display: flex;
}

.quantity {
  display: flex;
  position: relative;
  right: 12px;
  background-color: #e9725a;
  border-radius: 50%;
  color: #fff;
  width: 15px;
  height: 15px;
  padding: 5px 5px;
  font-size: 0.9rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
